body{
  background-image: url(https://images.unsplash.com/photo-1604601182374-c72e721dfb9c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}
h1{
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
h2{
  margin-top: 0;
  text-transform: uppercase;
}
p, button{
  font-family: 'Quattrocento', serif;
}

.div-advices{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.source{
  font-size: 25px;
  width:400px;
}
.advice{
  font-size: 35px;
}

.btn{
  padding: 10px 40px;
  font-size: 24px;
  margin-top: 50px;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid white;
  color: white;
}
.btn:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.499);
  border: 3px solid rgba(255, 255, 255, 0.606);
}


@media all and (max-width: 1410px){
  body{
    height: 120vh;
  }
}

@media all and (max-width: 557px){
  h1{
    font-size:45px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  h2{
    font-size: 30px;
  }
  .advice {
    font-size: 28px;
  }
  .source {
    font-size: 22px;
    width: 300px;
  }
}